<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI PCB Inspection Report</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="report-container">

    <h1>🤖 AI PCB Inspection Report</h1>
    <p class="subtitle">
        YOLOv8 Powered PCB Defect Detection System
    </p>

    <div class="image-section">

        <div class="image-card">
            <h2>📷 Original Image</h2>

            <img src="{{ url_for('static',
            filename='uploads/' + filename) }}"
            alt="Original PCB">
        </div>

        <div class="image-card">
            <h2>🔍 Detected Result</h2>

            <img src="{{ url_for('static',
            filename=image) }}"
            alt="Detected PCB">
        </div>

    </div>

    <div class="stats-container">

        <div class="stat-box">
            <h3>Detected Defect</h3>
            <p>{{ defect }}</p>
        </div>

        <div class="stat-box">
            <h3>Confidence</h3>
            <p>{{ confidence }}</p>
        </div>

        <div class="stat-box">
            <h3>Total Objects</h3>
            <p>{{ count }}</p>
        </div>

    </div>


    <div style="text-align:center;">
        <a href="/" class="btn">
            🔄 Scan Another PCB
        </a>
    </div>

</div>

</body>
</html>