<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI PCB Defect Detection</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="glass-card">

        <div class="header">
            <h1>🤖 AI PCB Defect Detection</h1>

            <p>
                Upload a PCB image and let YOLOv8 detect
                manufacturing defects automatically.
            </p>
        </div>

        <form action="/predict"
              method="POST"
              enctype="multipart/form-data">

            <div class="upload-box">

                <h2>Upload PCB Image</h2>

                <br>

                <input
                    type="file"
                    name="image"
                    required>

            </div>

            <button
                type="submit"
                class="detect-btn">

                🔍 Detect Defects

            </button>

        </form>

        <div class="mode-buttons">
    <a href="/live" class="mode-btn">
        🎥 Live Webcam Detection
    </a>

    <a href="/webcam" class="mode-btn">
        📸 Snapshot Detection
    </a>
</div>

        <div class="features">

            <div class="feature">
                <div class="feature-icon">⚡</div>
                <h3>Fast</h3>
                <p>Real-time YOLOv8 detection</p>
            </div>

            <div class="feature">
                <div class="feature-icon">🎯</div>
                <h3>Accurate</h3>
                <p>High precision defect detection</p>
            </div>

            <div class="feature">
                <div class="feature-icon">📊</div>
                <h3>Smart</h3>
                <p>AI powered PCB inspection</p>
            </div>

        </div>

    </div>

</div>

</body>
</html>

